/* Footer */
.Footer{
    position: relative;
    background-color: #000000;
    color:white;

  }
  .Footer .list-section{
    width:100%;
    height:260px;
    margin:0px 0px 0px 550px;
    padding-top: 0px;
  }
  .Footer .list-section div{
    margin-right:30px;
    float:left;
    padding:0px;
      width:200px;
  }
  .Footer #statement{
      position: relative;
      left:100px;
      width:300px;
      top:200px;
  }
  .Footer .Feature-list{
  }