.Todo-Card{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    background-color: #0D0C1D;
}
.Todo-Card .Main-area{
    width:100%;
    height: 40vw;
}
.Todo-Card .Cards-wrapper{
    width:100%;
    min-height: 30%;
    padding: 5vh;
    overflow: auto;
    height:35cdvw;
    max-height: 89%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 3px 3px 2vw rgb(0, 0, 0);
}
.Todo-Card .nocontent{
    visibility: hidden;
    display: none;
    background-color: aqua;
}
.Todo-Card .content{
    background-color: #0D0C1D;
}
.Todo-Card .each-card{
    max-width: 30vw;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display:grid;
    grid-template-rows:  30% 70%;
}
.Todo-Card .header{
    display: grid;
    grid-template-columns:  60% 20%  20%;
    text-align: center;
    background-color: rgb(186, 179, 179);
    color: black;
}
.Todo-Card .btn-open-todo{
    z-index: 30;
    font-size-adjust: inherit;
    background-color: #0cca62;
    width: 100%;
    height: 100%;
}
.Todo-Card .heading-of-card{
    font-size: large;
    background-color:#6fe2de;
}
.Todo-Card .each-card .form {
}
.Todo-Card .each-card .form select{
    font-size: 70%;
    width:100%;
    height: 100%;
}
.Todo-Card .paragraph{
    width:100%;
    height: 100%;
    /* padding:1%; */
    font-size: 1vw;
    text-align: center;
    background-color: white;
    color:black;
}

/* Button */
.Todo-Card .add-btn{
    font-size: 15px;
    width:120px;
    height:30px;
    padding: 0px;
    list-style: none;
    background-color: black;
    color: aliceblue;
    row-gap: 15px;
}
@media screen and (max-width:480px){
    .Todo-Card{
        background-color: lightgreen;
    }
    .Todo-Card .Card-1{
        min-width:60vw;
        height:30vw;
    }
}


/* Bootstrap */
