.navbar{
    text-align:left;
    margin-left:24.5vw;
    background-color:pink;
    margin-top:-2vw;
    width:20vw;
    transition: animate 3s ease-in-out;
}
@keyframes animate{
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}