*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
/* //Section-1 */
/* //Kya ye changes dikh rahe hai??? */
.section-3{
    background-color: black;
    position: relative;
    margin-left: 0px;
    height:600px;
    color:white;
    padding-top: 50px;
}
.section-3 .heading{
    font-size: 60px;
    text-align: center;
    margin-bottom: 150px;
    margin-top:0px;
    margin-left:10px;
}
/* .section-3 button{
    font-size:40px;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    width:fit-content;
} */
.section-3 .list{

    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-column-gap:20px; */
    justify-items: end;
}
.section-3 .list .paragraph{
    word-wrap: normal;
    width:19vw;
    height:18vw;
    font-size: 1vw;
    left:0px;
    color: white;
    background-color: #0b0b0b;
    border: 6px solid white;
    border-radius: 30%;
}
