/* Reviews Section */
.Reviews{
    background-color:rgba(23, 192, 40, 0.798);
    height:100vh;
    width: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px;;
    row-gap: 5px;
  }
  .EachReview h2{
    width:700px;
    margin-left:200px;
  }
  .Reviews h3{
    text-align:center;
  }
  .Reviews .Buttons{
    align-self: center;
    position:relative;
    justify-content: center;
  }
  .Reviews .Buttons button:nth-child(2){
      position:relative;
      left:10px;
  }