/* Reviews Section */
.Reviews{
  padding-top: 3.5vw;
  display: flex;
  flex-direction:column;
  min-height:35vw;
  height: auto;
  margin-left: 9vw;
}
.Reviews .review-section {
    position: relative;
    width: 100vw;
    height: fit-content;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .Reviews .EachReview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
  }
  .Reviews h1{
    text-align: left;
    font-family: quatro,sans-serif;
    font-size: 4vw;
    font-weight:600;
    color:#444;
  }
  .Reviews .EachReview h2 {
    width:100%;
    font-size: 2.8vw;
    font-family: quatro,sans-serif;
    font-weight: 360;
  }
  .Reviews .EachReview h3 {
    width:100%;
    text-align: left;
    margin-bottom: 5vw;
    font-size: 2vw;
  }
  .Reviews .Buttons button{
    background-color: white;
    border: none;
    position:relative;
    text-align: left;
    padding-left: 2vw;
    width:40vw;
    height:30vw;
    font-size: 5vw;
  }