.section-4{
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   color:black;
   text-align: center;
   min-height: 40.5vw;
   margin-left: 9vw;
   width: 80%;
}
.section-4 .heading{
   width:100%;
   font-family: quatro,sans-serif;
   display: flex;
   font-size: 3vw;
   font-weight:600;
   color:#444;
   align-items: center;
   text-align: left;
   line-height:5vw;
}
@media only screen and (max-width:600px){
   .section-4 .heading{
      font-size:5vw;
      min-height: 53vw;
   }

}