.to-do-list{
    display: flex;
    justify-content:left;
    flex-direction: row;
    column-gap: 200px;
}
.left-list{

    width:14.2vw;
    height:200vh;
    background-color: black;
    color:white;
    margin-left:20px;
    word-spacing: 2px;
}