.ToDoList{
    display:flex;
    justify-content: center;
    color:rgb(235, 228, 228);
    background-color: rgb(41, 41, 237);
    flex-direction: column;
    width: 1142px;
    height:500px;
}
button{
    width:80px;
    align-self: center;
}

















