.section-card{
    margin-left: 0px;
    position:relative;
    display: grid;
    grid-template-columns:20% 90%;
}
.Cards{
    display: grid;
    position: relative;
    top:80px;
    grid-template-rows:1% 99%;
}
.Card-area{
    width:800px;
    height:800px;
    background-color:rgb(220, 220, 220);
    padding:20px;
    display: grid;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    justify-content: space-between;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    grid-column-gap:1em;
    grid-row-gap:2em;
}
.Card-1{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px rgb(139, 139, 139);
    display:grid;
    grid-template-rows:20% 80%;
    padding-top: 0px;
    padding-bottom:0px;
}
.header{
    font-size: 30px;
    display: grid;
    grid-template-columns:80% 20%;
    text-align: center;
    background-color: rgb(186, 179, 179);
    color: black;
}
.paragraph{
    font-size: 15px;
    padding:5px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
}
.urgency{
    font-size: 20px;
    padding:10px;
    background-color: red;
    text-align: center;
    border: 2px solid burlywood;
}
.Card-1:hover{
    background-color: rgb(255, 231, 191);
    color:white;
}
/* Button */
.add-btn{
    text-align: center;
    font-size: 15px;
    width:120px;
    height:30px;
    padding: 0px;
    list-style: none;
    background-color: black;
    color: aliceblue;
    row-gap: 15px;
}