.Button .left-list{
    width:14.2vw;
    background-color: black;
    color:white;
    word-spacing: 2px;
}
.Button .list{
    font-size: 22px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: black;
    flex-direction: column;
    row-gap: 15px;
    height: fit-content;
    overflow-y:scroll;
}
/* //Practice name and email */
.Button .list .each-task{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.Button .left-list .list input{
    background-color: rgb(38, 31, 31);
    padding:8px;
    width:120px;
    margin-left:0px;
    color:aliceblue;
    transform:translateZ(300px);
}
/* //Div of icon */
.Button .icon{
    width:30px;
    height:35px;
    background-color: rgba(255, 255, 255, 0.857);
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: rgb(66, 57, 57);
    z-index:1;
}
.Button .drawIcon{
    /* display: none; */
    visibility: hidden;
    width:20px;
    height:20px;
    border-radius: 3px;
}
.Button .each-task:hover .input{
    animation: animate 10ms ease-in-out ;
    color:black;
    animation-fill-mode:forwards;
}
.Button .each-task:hover .icon{
}
.Button .each-task:hover .drawIcon{
    visibility: visible;
}
.Button .iconh{
    border-radius: 4px;
    width:30px;
    height:35px;
    background-color: #fffcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: rgb(66, 57, 57);
    z-index:1;
}
.Button .drawIconh{
     /* display: none; */
     visibility: visible;
     width:20px;
     height:20px;
     background-color: #ffffff;
     border-radius: 3px;
}
@keyframes animate{
    0%{
        background-color: black;
    }
    100%{
        background-color: rgb(255, 255, 255);
        color:black;
        font-size: 15px;

    }
}
/* Button */
.Button .add-btn{
    text-align: center;
    margin-top: 1vw;
    font-size: 15px;
    width:120px;
    height:30px;
    padding: 0px;
    list-style: none;
    background-color: black;
    color: aliceblue;
    row-gap: 15px;
}